.wrapper {
	min-height: 100vh;
	background-color: #fff;
	transition-duration: 0.3s;
}

.wrapper.dark-theme {
	background-color: #1a1925;
}

.todo-content {
	display: flex;
	justify-content: space-between;
}
