.changeThemeButton {
	height: 35px;

	button {
		width: 66px;
		height: 35px;
		position: relative;
		border-radius: 50px;
		background-color: #5163a3;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
		transition-duration: 0.3s;

		&::before {
			content: '';
			display: block;
			width: 27px;
			height: 27px;
			position: absolute;
			top: 4px;
			left: 5px;
			background-color: #fff;
			border-radius: 100%;
			transform: translateX(0px);
			transition-duration: 0.3s;
		}
	}
}

.changeThemeButton.dark-theme {
	button {
		background-color: #fff;

		&::before {
			background-color: #324793;
			transform: translateX(30px);
		}
	}
}
