.todoItem {
	display: flex;
	margin-left: 30px;
	padding: 10px 0px 7px 12px;
	transition-duration: 0.2s;

	&-toggleStatus {
		margin-right: 24px;
		button {
			background-color: transparent;
		}
	}

	&-itemTitle {
		cursor: pointer;
		width: 100%;
		overflow: hidden;

		p {
			font-family: Montserrat;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			transition-duration: 0.3s;
		}
	}

	&-editItem,
	&-deleteItem {
		display: none;
		opacity: 0;
		animation-name: todoItem-iconsAnim;
		animation-duration: 0.2s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);

		button {
			background-color: transparent;
		}
	}

	&-deleteItem {
		margin: 0 8px 0 12px;
	}

	&:hover {
		background-color: #eff2ff;
		border-radius: 5px;

		.todoItem-editItem,
		.todoItem-deleteItem {
			display: block;
			opacity: 1;
		}
	}
}

.todoItem.dark-theme {
	.todoItem-itemTitle {
		p {
			color: #fff;
		}
	}
	&:hover {
		background-color: #252530;
	}
}

@keyframes todoItem-iconsAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
