//! FONTS
$font-montserrat: 'Montserrat';
$font-roboto: 'Roboto';
//
//
//
//! COLORS
//
//* White Theme
$white-theme-logoColor: #324793;
$white-theme-background: #fff;
$white-theme-switchThemeButtonBackground: #5163a3;
$white-theme-switchThemeButtonSwitcher: #fff;
$white-theme-userProfile: #4d4d4d;
//
//* Dark Theme
$dark-theme-logoColor: #bccbff;
$dark-theme-background: #1a1925;
$dark-theme-switchThemeButtonBackground: #fff;
$dark-theme-switchThemeButtonSwitcher: #324793;
$dark-theme-userProfile: #fff;
//
//
//
//
