.userProfileIcon {
	svg {
		width: 24px;
		height: 24px;

		path {
			stroke-width: 2px;
			stroke: #4d4d4d;
			transition-duration: 0.3s;
		}
	}
}

.userProfileIcon.dark-theme {
	svg {
		path {
			stroke: #fff;
		}
	}
}
