.logoIcon {
	svg {
		width: 116px;
		height: 40px;
		path {
			fill: $white-theme-logoColor;
			transition-duration: 0.3s;
		}
	}
}

.logoIcon.dark-theme {
	svg {
		path {
			fill: $dark-theme-logoColor;
		}
	}
}
