.userProfile {
	display: flex;
	&-icon {
		margin-right: 17px;
	}

	&-name {
		color: #4d4d4d;
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		transition-duration: 0.3s;
		padding-top: 1px;
	}
}

.userProfile.dark-theme {
	.userProfile-name {
		color: #fff;
	}
}
